
# COSMOS Python local files
.tools/
.pixi/
.cache/
__pycache__/

*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
.env
.env.*
.DS_Store
build/
dist/
data/*
!data/README.md
results/*
!results/README.md
